APP_NAME="Emeq Hub"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://hub.emeq.test:8090

APP_LOCALE=nl
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=nl_NL

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=emeq_hub
DB_USERNAME=emeq_hub
DB_PASSWORD=emeq_hub

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6380

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hub@emeq.nl"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=hub.emeq.test

HORIZON_PREFIX=emeq-hub

SNELSTART_PARTNER_APP_NAME=
MOLLIE_PARTNER_CLIENT_ID=
MOLLIE_PARTNER_CLIENT_SECRET=
MONEYBIRD_PARTNER_CLIENT_ID=
MONEYBIRD_PARTNER_CLIENT_SECRET=
