{
    "openapi": "3.1.0",
    "info": {
        "title": "Emeq Hub",
        "version": "0.2.0-dev",
        "description": "Multi-tenant integration platform voor Snelstart, Mollie en toekomstige boekhoud-/betaal-providers. Authenticeer met een Personal Access Token (Bearer) van je Consumer-account."
    },
    "servers": [
        {
            "url": "https://hub.emeq.nl/v1",
            "description": "Production"
        },
        {
            "url": "https://hub-dev.emeq.nl/v1",
            "description": "Development"
        }
    ],
    "tags": [
        {
            "name": "System",
            "description": "Smoke- en auth-check endpoints."
        },
        {
            "name": "Accounts",
            "description": "Eindgebruiker-tenants per Consumer (external_id-aliasing)."
        },
        {
            "name": "Integrations",
            "description": "Welke providers een Account kan koppelen, met live status."
        },
        {
            "name": "Connections",
            "description": "OAuth-koppelingen tussen Account en provider (Mollie/Snelstart)."
        },
        {
            "name": "OAuth Connect",
            "description": "OAuth-broker \u2014 init de authorize-flow en handle de callback van de partner."
        },
        {
            "name": "Accounting Sync",
            "description": "Push canonical financi\u00eble documenten naar het gekoppelde boekhoudpakket van de Account."
        },
        {
            "name": "Mollie \u00b7 Customers",
            "description": "Mollie Customers API (list/get/create)."
        },
        {
            "name": "Accounting Validate",
            "description": "Valideer een ge\u00ebxtraheerd draft-document v\u00f3\u00f3r het boeken; geeft findings + suggesties terug zonder te boeken."
        },
        {
            "name": "Mollie \u00b7 Mandates",
            "description": "Mollie Mandates API (list per customer + get + revoke)."
        },
        {
            "name": "Accounting Read",
            "description": "Lees grootboek, btw-codes en relaties van de gekoppelde boekhouding in canonieke vorm."
        },
        {
            "name": "Mollie \u00b7 Payments",
            "description": "Mollie Payments API (create/get/cancel)."
        },
        {
            "name": "Mollie \u00b7 Payment Links",
            "description": "Mollie Payment Links API (list/get/create)."
        },
        {
            "name": "Mollie \u00b7 Payment Methods",
            "description": "Mollie PaymentMethods API (list)."
        },
        {
            "name": "Mollie \u00b7 Refunds",
            "description": "Mollie Refunds API (create per-payment + list + get standalone)."
        },
        {
            "name": "Mollie \u00b7 Subscriptions",
            "description": "Mollie Subscriptions API (nested onder customer; list/get/create/cancel)."
        },
        {
            "name": "Snelstart",
            "description": "Snelstart OData-calls met de clientKey + subscriptionKey van de gekoppelde Account."
        },
        {
            "name": "Exact",
            "description": "Generieke Exact Online REST-pass-through (`/exact/{path}`) met de OAuth-tokens van de gekoppelde Account; division in het pad. Named resource-endpoints staan onder hun eigen `Exact \u00b7 \u2026`-groep."
        },
        {
            "name": "Mollie \u00b7 Connect",
            "description": "Mollie Connect partner-resources (onboarding, organizations, profiles, permissions, client-links)."
        },
        {
            "name": "Exact \u00b7 GL Accounts",
            "description": "Grootboekrekeningen van de gekoppelde administratie. Mapt op de Exact OData-endpoint `GET financial/GLAccounts` (read-only)."
        },
        {
            "name": "Exact \u00b7 VAT Codes",
            "description": "BTW-codes van de gekoppelde administratie. Mapt op de Exact OData-endpoint `GET vat/VATCodes` (read-only)."
        },
        {
            "name": "Exact \u00b7 Relations",
            "description": "Relaties (debiteuren/crediteuren) van de gekoppelde administratie. Mapt op de Exact OData-endpoint `GET crm/Accounts` (read-only)."
        },
        {
            "name": "Exact \u00b7 Journals",
            "description": "Dagboeken van de gekoppelde administratie. Mapt op de Exact OData-endpoint `GET financial/Journals` (read-only)."
        },
        {
            "name": "Account Subscriptions",
            "description": "Multi-tenant subscription-state per Account+Connection (use-case B \u2014 Accounts factureren hun eigen eindgebruikers via Connect)."
        },
        {
            "name": "Billing (Cashier)",
            "description": "Consumer-billing via Cashier-Mollie (use-case A \u2014 Emeq factureert Consumers via Emeq's eigen Mollie-account)."
        },
        {
            "name": "Admin \u2014 Billing",
            "description": "Emeq-staff endpoints om Consumer-subscriptions te beheren (`admin`-ability vereist)."
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/ping": {
            "get": {
                "operationId": "ping",
                "tags": [
                    "System"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "pong": {
                                            "type": "boolean"
                                        },
                                        "consumer": {
                                            "type": "string"
                                        },
                                        "abilities": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "minItems": 0,
                                                    "maxItems": 0,
                                                    "additionalItems": false
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "pong",
                                        "consumer",
                                        "abilities"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounts": {
            "post": {
                "operationId": "accounts.store",
                "tags": [
                    "Accounts"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAccountRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`AccountResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountResource"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "account_exists"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Account met deze external_id bestaat al voor deze Consumer."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/integrations": {
            "get": {
                "operationId": "integrations.index",
                "tags": [
                    "Integrations"
                ],
                "parameters": [
                    {
                        "name": "account_external_id",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "label": {
                                                "type": "string"
                                            },
                                            "tagline": {
                                                "type": "string"
                                            },
                                            "category": {
                                                "type": "string"
                                            },
                                            "logo": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "brand": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            },
                                            "connectable": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string",
                                                "enum": [
                                                    "disconnected",
                                                    "connected",
                                                    "pending"
                                                ]
                                            },
                                            "connection_id": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "key",
                                            "label",
                                            "tagline",
                                            "category",
                                            "logo",
                                            "brand",
                                            "connectable",
                                            "status",
                                            "connection_id"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/connect-sessions": {
            "post": {
                "operationId": "connect-sessions.store",
                "tags": [
                    "Integrations"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "account_external_id": {
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "account_external_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        },
                                        "expires_at": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "url",
                                        "expires_at"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/connections": {
            "post": {
                "operationId": "connections.store",
                "tags": [
                    "Connections"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreConnectionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "`ConnectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConnectionResource"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "connection_exists"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Een actieve Connection bestaat al voor dit Account."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "account_not_found"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Account niet gevonden voor deze Consumer."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/connections/{connection}": {
            "get": {
                "operationId": "connections.show",
                "tags": [
                    "Connections"
                ],
                "parameters": [
                    {
                        "name": "connection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`ConnectionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConnectionResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "connection_not_found"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Connection niet gevonden."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "connections.destroy",
                "tags": [
                    "Connections"
                ],
                "parameters": [
                    {
                        "name": "connection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "connection_not_found"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Connection niet gevonden."
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/oauth/mollie/init": {
            "post": {
                "operationId": "oauth.mollie.init",
                "tags": [
                    "OAuth Connect"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "account_external_id": {
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "account_external_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "connection_id": {
                                            "type": "string"
                                        },
                                        "redirect_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "connection_id",
                                        "redirect_url"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "provider_disabled"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/oauth/exact/init": {
            "post": {
                "operationId": "oauth.exact.init",
                "tags": [
                    "OAuth Connect"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "account_external_id": {
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "account_external_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "connection_id": {
                                            "type": "string"
                                        },
                                        "redirect_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "connection_id",
                                        "redirect_url"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "provider_disabled"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/oauth/{provider}/init": {
            "post": {
                "operationId": "oauth.init",
                "tags": [
                    "OAuth Connect"
                ],
                "parameters": [
                    {
                        "name": "provider",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "account_external_id": {
                                        "type": "string"
                                    },
                                    "display_name": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "maxLength": 255
                                    },
                                    "return_url": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "uri"
                                    }
                                },
                                "required": [
                                    "account_external_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "connection_id": {
                                            "type": "string"
                                        },
                                        "redirect_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "connection_id",
                                        "redirect_url"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "provider_disabled"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/oauth/mollie/callback": {
            "get": {
                "operationId": "oauth.mollie.callback",
                "tags": [
                    "OAuth Connect"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "connection_id": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string",
                                            "const": "active"
                                        },
                                        "return_url": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "connection_id",
                                        "status",
                                        "return_url"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "invalid_or_expired_state"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/oauth/exact/callback": {
            "get": {
                "operationId": "oauth.exact.callback",
                "tags": [
                    "OAuth Connect"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accounting/documents": {
            "post": {
                "operationId": "accounting.documents.store",
                "tags": [
                    "Accounting Sync"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreDocumentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "provider": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "external_id": {
                                            "type": "string"
                                        },
                                        "external_ref": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "external_number": {
                                            "type": "integer"
                                        },
                                        "attachments": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "filename": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "document_ref": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "error": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "filename",
                                                    "status",
                                                    "document_ref",
                                                    "error"
                                                ]
                                            }
                                        },
                                        "deduplicated": {
                                            "type": "boolean"
                                        },
                                        "recovered": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "provider",
                                        "status",
                                        "external_id",
                                        "external_ref"
                                    ]
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "external_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "external_id"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "external_id": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "const": "webhook_required"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "Async-modus vereist een geregistreerde webhook_callback_url op de Consumer."
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "external_id",
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "insufficient_ability"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "accounting.documents.index",
                "tags": [
                    "Accounting Read"
                ],
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "description": "Verplicht. Bepaalt welke documentsoort teruggegeven wordt; ontbreekt hij, dan volgt 400 invalid_query.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "sales_invoice",
                                "purchase_invoice",
                                "income",
                                "expense",
                                "credit_note"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "number": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "external_id": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "issue_date": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "due_date": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "reference": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "party": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "name": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ]
                                                    },
                                                    "journal": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "net_total": {
                                                        "type": "number"
                                                    },
                                                    "lines": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "amount": {
                                                                    "type": "number"
                                                                },
                                                                "tax_code": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "ledger_account_id": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "cost_center": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "cost_unit": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "description",
                                                                "amount",
                                                                "tax_code",
                                                                "ledger_account_id",
                                                                "cost_center",
                                                                "cost_unit"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "type",
                                                    "number",
                                                    "external_id",
                                                    "issue_date",
                                                    "due_date",
                                                    "reference",
                                                    "party",
                                                    "journal",
                                                    "currency",
                                                    "net_total",
                                                    "lines"
                                                ]
                                            }
                                        },
                                        "next_cursor": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "has_more": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "next_cursor",
                                        "has_more"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "provider_disabled"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "invalid_query"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "const": "unsupported_capability"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/mollie/customers": {
            "get": {
                "operationId": "mollie.customers.index",
                "tags": [
                    "Mollie \u00b7 Customers"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "mollie.customers.store",
                "tags": [
                    "Mollie \u00b7 Customers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCustomerRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/mollie/customers/{id}": {
            "get": {
                "operationId": "mollie.customers.show",
                "tags": [
                    "Mollie \u00b7 Customers"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/capabilities": {
            "get": {
                "operationId": "accounting.capabilities",
                "tags": [
                    "Accounting Sync"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/sync": {
            "post": {
                "operationId": "accounting.sync",
                "tags": [
                    "Accounting Sync"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "provider": {
                                            "type": "string"
                                        },
                                        "synced": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "provider",
                                        "synced"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/reference-data": {
            "get": {
                "operationId": "accounting.reference-data",
                "tags": [
                    "Accounting Sync"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "gl": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "attrs": {}
                                                },
                                                "required": [
                                                    "code",
                                                    "label",
                                                    "attrs"
                                                ]
                                            }
                                        },
                                        "vat": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "attrs": {}
                                                },
                                                "required": [
                                                    "code",
                                                    "label",
                                                    "attrs"
                                                ]
                                            }
                                        },
                                        "journal": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "attrs": {}
                                                },
                                                "required": [
                                                    "code",
                                                    "label",
                                                    "attrs"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "gl",
                                        "vat",
                                        "journal"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/mapping": {
            "get": {
                "operationId": "accounting.mapping.show",
                "tags": [
                    "Accounting Sync"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mapping": {
                                            "type": "object",
                                            "properties": {
                                                "vat_codes": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                },
                                                "gl_accounts": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                },
                                                "journals": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "mapping"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "accounting.mapping.update",
                "tags": [
                    "Accounting Sync"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "vat_codes": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "gl_accounts": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "journals": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "mapping": {
                                            "type": "object",
                                            "properties": {
                                                "vat_codes": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                },
                                                "gl_accounts": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                },
                                                "journals": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "mapping"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/documents/validate": {
            "post": {
                "operationId": "accounting.documents.validate",
                "tags": [
                    "Accounting Validate"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateDocumentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "valid": {
                                            "type": "boolean"
                                        },
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "errors": {
                                                    "type": "integer"
                                                },
                                                "warnings": {
                                                    "type": "integer"
                                                },
                                                "infos": {
                                                    "type": "integer"
                                                },
                                                "blocking": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "errors",
                                                "warnings",
                                                "infos",
                                                "blocking"
                                            ]
                                        },
                                        "findings": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "valid",
                                        "summary",
                                        "findings"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/mollie/customers/{customer_id}/mandates": {
            "get": {
                "operationId": "mollie.customers.mandates.index",
                "tags": [
                    "Mollie \u00b7 Mandates"
                ],
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/mollie/customers/{customer_id}/mandates/{mandate_id}": {
            "get": {
                "operationId": "mollie.customers.mandates.show",
                "tags": [
                    "Mollie \u00b7 Mandates"
                ],
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mandate_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "delete": {
                "operationId": "mollie.customers.mandates.destroy",
                "tags": [
                    "Mollie \u00b7 Mandates"
                ],
                "parameters": [
                    {
                        "name": "customer_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mandate_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/accounting/bank-statements": {
            "get": {
                "operationId": "accounting.bank-statements",
                "tags": [
                    "Accounting Read"
                ],
                "parameters": [
                    {
                        "name": "kind",
                        "in": "query",
                        "description": "Bank- of kasafschriften. Een andere waarde geeft 400 invalid_query.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bank",
                                "cash"
                            ],
                            "default": "bank"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "number": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "journal": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "financial_year": {
                                                        "type": [
                                                            "integer",
                                                            "null"
                                                        ]
                                                    },
                                                    "financial_period": {
                                                        "type": [
                                                            "integer",
                                                            "null"
                                                        ]
                                                    },
                                                    "opening_balance": {
                                                        "type": [
                                                            "number",
                                                            "null"
                                                        ]
                                                    },
                                                    "closing_balance": {
                                                        "type": [
                                                            "number",
                                                            "null"
                                                        ]
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "lines": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "date": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "amount": {
                                                                    "type": "number"
                                                                },
                                                                "description": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "relation": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "name": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "name"
                                                                    ]
                                                                },
                                                                "ledger_account_id": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "ledger_account_code": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "tax_code": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "document_number": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "date",
                                                                "amount",
                                                                "description",
                                                                "relation",
                                                                "ledger_account_id",
                                                                "ledger_account_code",
                                                                "tax_code",
                                                                "document_number"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "kind",
                                                    "number",
                                                    "journal",
                                                    "financial_year",
                                                    "financial_period",
                                                    "opening_balance",
                                                    "closing_balance",
[...]
